@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1833px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #000;
}

.breadcrumbs {
  padding-bottom: 42px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 24px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: '';
  right: -15px;
  top: 14px;
  width: 7px;
  height: 1px;
  background-color: #000;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 31px 0 24px;
}

.header-top__work, .header-top__call, .header-top__email {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.header-top__tel, .header-top__mail {
  font-weight: 500;
}

.header-top__tel {
  margin-right: 23px;
}

.header-menu {
  background: #eaeaea;
}

.header-menu__wrapper {
  padding: 28px 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__list {
  background: #fff;
  border: 2px solid #000;
  border-radius: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 41px 26px 42px !important;
}

.header-menu__item + .header-menu__item {
  margin-left: 57px;
}

.header-menu__link {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.header-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-menu__language {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 3px;
}

.header-menu__tel {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0 53px !important;
}

.header-nav__item + .header-nav__item {
  margin-left: 32px;
}

.header-nav__link {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link--design, .header-nav__link--cart {
  background: #d8d8d8;
  border: 2px solid #b4b4b4;
  border-radius: 61px;
  padding: 13px 18px;
}

.header-nav__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 31px;
  position: relative;
}

.header-nav__images .header-nav__num {
  position: absolute;
  right: -10px;
  bottom: 3px;
}

.header-nav__num {
  width: 24px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-banner {
  background: #eaeaea;
}

.slider-banner__inner {
  padding: 63px 142px 96px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-banner__title {
  font-weight: 500;
  font-size: 144px;
  line-height: 176px;
  color: #000;
}

.slider-banner__subtitle {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #000;
  margin-bottom: 37px;
}

.slider-banner__link {
  display: inline-block;
  background: #c4c4c4;
  border-radius: 91px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  padding: 10px 38px 14px;
}

.slider-banner__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-top: 24px;
}

.category {
  padding: 126px 0;
}

.category__title {
  margin-left: 51px;
  margin-bottom: 114px;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 37px;
}

.category__item {
  max-width: 544px;
  width: 100%;
  background: #ffff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding-top: 54px;
}

.category__images {
  margin: 0 auto;
}

.category__item-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 6px;
  margin-left: 54px;
}

.category__name {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-left: 57px;
}

.category__banner {
  max-width: 1692px;
  width: 100%;
  background: #fefefe;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  margin: 38px auto 0px;
  padding: 69px 56px 22px 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__content-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

.category__content-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 14px 0 34px;
}

.category__list-item + .category__list-item {
  margin-top: 14px;
}

.category__list-item {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
  padding-left: 36px;
  position: relative;
}

.category__list-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #373737;
}

.category__more {
  background: #f2f2f2;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
  padding: 14px 43px 21px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  display: inline-block;
  margin-top: 46px;
}

.popular {
  padding: 90px 0 149px;
  background: #eaeaea;
}

.popular__title {
  margin-left: 79px;
  margin-bottom: 80px;
}

.popular__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__item {
  max-width: 544px;
  width: 100%;
  height: 754px;
}

.popular__content {
  width: 100%;
  height: 613px;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 91px;
  padding-bottom: 30px;
}

.popular__content .popular__slogan {
  position: absolute;
  top: 33px;
  right: 30px;
}

.popular__content .popular__sale {
  position: absolute;
  right: 30px;
  top: 100px;
}

.popular__content .popular__delivery {
  position: absolute;
  top: 43px;
  right: 23px;
}

.popular__images {
  margin: auto;
}

.popular__slogan, .popular__sale, .popular__delivery {
  background: #eaeaea;
  border-radius: 53px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  padding: 6px 22px;
}

.popular__info {
  padding-top: 24px;
}

.popular__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.popular__name {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.popular__price {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

.popular__add {
  display: inline-block;
  margin-top: auto;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 5px 32px 8px 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.designer {
  padding: 92px 0 57px;
}

.designer__wrap {
  max-width: 1692px;
  width: 100%;
  margin: 0 auto;
  background: #fefefe;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 50px 81px;
}

.designer__info {
  margin-left: 86px;
  margin-right: auto;
}

.designer__title, .designer__subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

.designer__list {
  margin: 15px 0 24px 0;
  padding: 0;
}

.designer__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000;
}

.designer__link {
  display: inline-block;
  background: #f2f2f2;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
  padding: 16px 42px;
}

.example {
  padding: 57px 0 74px;
}

.example__title {
  margin-bottom: 89px;
}

.example-slider__item.slick-slide {
  width: 499px !important;
  margin: 0 20px;
}

.example-slider .slick-list {
  margin: 0 auto;
}

.example-slider__item.slick-slide.slick-center {
  margin: 0 auto;
}

.example-slider__item.slick-slide.slick-current {
  margin-left: 0px;
}

.example-slider__item {
  width: 499px;
  height: 602px;
}

.example-slider__img {
  width: 499px;
  height: 602px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 36px;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
}

.example-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  border: none;
}

.example-slider .slick-arrow.slick-next {
  right: 0;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: -15px;
}

.advantage {
  padding: 74px 0 102px;
}

.advantage__title {
  margin-bottom: 61px;
}

.advantage__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
}

.advantage__item {
  width: 540px;
  background: #ffffff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 31px 37px 59px 40px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.advantage__item:hover {
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.55);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.advantage__item-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  margin-bottom: 31px;
}

.advantage__item-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000;
}

.question {
  background: #eaeaea;
  padding: 86px 0 91px;
  text-align: center;
}

.question__text {
  max-width: 694px;
  width: 100%;
  margin: 29px auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.question__link + .question__link {
  margin-left: 29px;
}

.question__link {
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  padding: 18px 59px;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  display: inline-block;
}

.catalog-category {
  padding: 72px 0 64px;
}

.catalog-category__title {
  margin-bottom: 72px;
}

.catalog-category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
}

.catalog-category__item {
  height: 654px;
  width: 544px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.catalog-category__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.catalog-category__item .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 544px;
  height: 654px;
  padding-top: 44px;
}

.catalog-category__item .category__item-title {
  text-align: center;
}

.catalog-category__item .category__images {
  margin-top: auto;
}

.catalog-category__item .category__name {
  text-align: center;
}

.catalog-category__banner {
  max-width: 1683px;
  width: 100%;
  margin: 32px auto 0;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 0 49px 51px 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-category__info-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 98px;
  color: #000;
}

.catalog-category__info-text {
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  color: #000;
  margin: 12px 0 32px;
}

.catalog-category__link + .catalog-category__link {
  margin-left: 37px;
}

.catalog-category__link {
  display: inline-block;
  background: #f2f2f2;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
  padding: 16px 35px;
}

.catalog-category__images {
  width: 642px;
  height: 603px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-designer .designer__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 85px;
  padding-right: 85px;
}

.category-catalog {
  position: relative;
  padding-bottom: 158px;
}

.category-catalog .category-filter {
  position: absolute;
  left: 0;
  top: 0;
}

.category-filter {
  background: #f4f4f4;
  width: 447px;
  padding: 49px 80px 79px 77px;
}

.category-filter__item + .category-filter__item {
  margin-top: 39px;
}

.category-filter__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  margin-bottom: 10px;
}

.category-filter__label + .category-filter__label {
  margin-top: 5px;
}

.category-filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #000;
}

.category-filter__label .category-filter__checkbox {
  margin-right: 15px;
}

.category-filter__label .category-filter__input {
  -webkit-appearance: none;
  position: absolute;
}

.category-filter__checkbox {
  position: relative;
  width: 26px;
  height: 26px;
  background: #f4f4f4;
  border: 1px solid #000;
}

.category-filter__checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.category-filter__label input:checked ~ .category-filter__checkbox .category-filter__checkmark {
  display: block;
}

.category-filter__label input:checked ~ .category-filter__checkbox {
  background: blue;
  border: 1px solid blue;
}

.category-filter__more {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-top: 3px;
}

.category-wrap {
  max-width: 1349px;
  width: 100%;
  margin-left: auto;
  padding-right: 94px;
}

.category-wrap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  row-gap: 64px;
  -webkit-column-gap: 59px;
          column-gap: 59px;
}

.category-wrap__item {
  max-width: 379px;
  width: 100%;
  height: 642px;
  margin-left: auto;
}

.category-wrap__content {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 43px 42px 52px;
}

.category-wrap__img {
  width: 294px;
  height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-wrap__info {
  padding-top: 19px;
}

.category-wrap__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
}

.category-wrap__size, .category-wrap__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
}

.category-wrap__size-number {
  font-size: 36px;
  line-height: 44px;
}

.category-wrap__price-num {
  font-size: 48px;
  line-height: 59px;
}

.category-wrap__order {
  display: block;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  margin-top: 19px;
  padding: 4px 0 9px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.category-wrap__show {
  display: block;
  max-width: 1255px;
  width: 100%;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 98px;
  padding: 29px 0;
  font-size: 64px;
  line-height: 78px;
  margin-left: auto;
  margin-top: 51px;
}

.category-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.category-pagination__prev, .category-pagination__next {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.category-pagination__item + .category-pagination__item {
  margin-left: 40px;
}

.category-pagination__link {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.category-designer {
  width: 100%;
  padding: 46px 89px 47px 52px;
  margin-top: 63px;
}

.category-designer__img {
  width: 334px;
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-designer .designer__info {
  margin-left: 60px;
}

.category-designer .designer__title {
  font-size: 44px;
  line-height: 54px;
}

.tovar {
  padding: 42px 0 94px;
}

.tovar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tovar-slider {
  width: 922px;
  height: 721px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tovar-preview {
  width: 166px;
  height: 72px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 721px;
}

.tovar-preview__item {
  width: 166px;
  height: 166px;
}

.tovar-preview__item-img {
  width: 166px;
  height: 166px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tovar-preview__item.slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  border: none;
  margin-bottom: 20px;
}

.tovar-thumb {
  margin-left: 35px;
  width: 721px;
  height: 721px;
}

.tovar-thumb__item {
  width: 721px;
  height: 721px;
}

.tovar-thumb__item-img {
  width: 721px;
  height: 721px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tovar-info {
  max-height: 779px;
  width: 100%;
  margin-left: 38px;
}

.tovar-info__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 9px;
}

.tovar-info__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 9px;
}

.tovar-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.tovar-info__new-price {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

.tovar-info__old-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-left: 34px;
  position: relative;
}

.tovar-info__old-price::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000;
  top: 14px;
  left: 0;
}

.tovar-info__size, .tovar-info__color {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 16px;
}

.tovar-info__form {
  max-width: 612px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 19px;
  margin-bottom: 24px;
}

.tovar-info__span {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  background: #fff;
  border: 1px solid #000;
  width: 140px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.tovar-info__checkbox-container + .tovar-info__checkbox-container {
  margin-left: 13px;
}

.tovar-info__label .tovar-info__checkbox:checked + .tovar-info__span {
  background: #000;
  color: #fff;
}

.tovar-info__checkbox-toggle {
  border: 1px solid black;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: firebrick;
  border: none;
}

.tovar-info__checkbox-toggle--blue {
  background: darkgreen;
}

.tovar-info__checkbox-toggle--darkmagenta {
  background: darkmagenta;
}

.tovar-info__checkbox-toggle--hotpink {
  background: hotpink;
}

.tovar-info__checkbox-toggle--grey {
  background: grey;
}

.tovar-info__checkbox-toggle--seagreen {
  background: seagreen;
}

.tovar-info__checkbox-toggle--tomato {
  background: tomato;
}

.tovar-info__checkbox-toggle--violet {
  background: violet;
}

.tovar-info__checkbox-toggle--lime {
  background: lime;
}

.tovar-info__checkbox-container .tovar-info__checkbox-toggle:before {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  content: "";
  position: relative;
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background: red;
  opacity: 0;
}

.tovar-info__checkbox-container .tovar-info__checkbox-color:checked + .tovar-info__checkbox-toggle:before {
  display: block;
}

.tovar-info__checkbox-container .tovar-info__checkbox-color:checked + .tovar-info__checkbox-toggle {
  border: 3px solid black;
}

.tovar-info__structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.tovar-info__cotton {
  margin-left: 15px;
}

.tovar-info__cart {
  display: inline-block;
  padding: 17px 92px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  margin-top: 33px;
}

.tovar-description {
  max-width: 922px;
  width: 100%;
  margin-right: auto;
  padding-left: 201px;
  margin-top: 41px;
}

.tovar-description__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
}

.tovar-description__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.expert {
  padding: 62px 0 102px;
}

.expert__title {
  max-width: 1030px;
  width: 100%;
  margin-bottom: 84px;
}

.expert-slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.expert-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  border: none;
  cursor: pointer;
  background: transparent;
}

.expert-slider .slick-prev.slick-arrow {
  left: -130px;
}

.expert-slider .slick-next.slick-arrow {
  right: 0;
  right: -90px;
}

.expert-slider__item {
  max-width: 1800px !important;
  width: 100%;
  margin: 0 auto !important;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 56px 110px 57px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.expert-slider__userpik {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  display: contents;
}

.expert-slider__userpik img {
  width: 290px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.expert-slider__info {
  margin-left: 49px;
}

.expert-slider__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.expert-slider__subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 28px;
}

.expert-slider__description {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.uniform-banner {
  background: #eaeaea;
}

.uniform-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0;
}

.uniform-banner__title {
  max-width: 848px;
  width: 100%;
  margin-left: 60px;
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
}

.production {
  background: #eaeaea;
}

.production__wrap {
  padding: 92px 0 112px 49px;
}

.production__title {
  max-width: 1127px;
  width: 100%;
  margin-bottom: 59px;
}

.production__item + .production__item {
  margin-top: 22px;
}

.production__item {
  font-weight: 300;
  font-size: 45px;
  line-height: 55px;
  padding-left: 66px;
  position: relative;
}

.production__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 11px;
  width: 31px;
  height: 31px;
  background: #c4c4c4;
  border-radius: 50%;
}

.form {
  padding: 142px 0 102px;
}

.form__title {
  margin-left: 42px;
  margin-bottom: 107px;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  row-gap: 101px;
}

.form__item {
  max-width: 544px;
  width: 100%;
}

.form__item:nth-child(4) {
  margin-left: auto;
  margin-right: 0;
}

.form__item:nth-child(5) {
  margin-right: auto;
  margin-left: 0;
}

.form__img {
  width: 544px;
  height: 681px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(2px 4px 27px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(2px 4px 27px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

.form__info {
  padding-top: 38px;
}

.form__info-title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000;
}

.dev-form {
  padding: 92px 0 132px;
}

.dev-form__title {
  margin-left: 49px;
  margin-bottom: 78px;
}

.dev-form__banner + .dev-form__banner {
  margin-top: 35px;
}

.dev-form__banner {
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  padding: 85px 93px 85px 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-form__banner .dev-form__title {
  margin-left: 0px;
}

.dev-form__banner--clothe {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.dev-form__banner--clothe .dev-form__link {
  margin-bottom: 22px;
}

.dev-form__title {
  width: 744px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  color: #000;
  margin-bottom: 37px;
}

.dev-form__description {
  width: 920px;
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
  color: #000;
}

.dev-form__description + .dev-form__description {
  margin-top: 44px;
}

.dev-form__link {
  display: inline-block;
  background: #c4c4c4;
  border-radius: 56px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  color: #000;
  padding: 15px 56px;
  margin-top: 37px;
}

.dev-form__open {
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #000;
  margin-top: 38px;
}

.process {
  padding: 127px 0 82px;
}

.process__title {
  margin-left: 46px;
  margin-bottom: 82px;
}

.process__item + .process__item {
  margin-top: 44px;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1649px;
  width: 100%;
  margin: 0 auto;
}

.process__images img {
  width: 287px !important;
  height: 287px;
  background: #c4c4c4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.process__info {
  width: 1321px;
  margin-left: 41px;
}

.process__info .process__title {
  margin-left: 0;
}

.process__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #000;
}

.process__num {
  margin-right: 18px;
}

.process__text {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  margin-top: 14px;
}

.professional {
  background: #eaeaea;
  padding: 103px 0 91px;
}

.professional__title {
  max-width: 1030px;
  width: 100%;
  margin-left: 59px;
  margin-bottom: 84px;
}

.professional__info {
  padding-top: 188px;
  text-align: center;
}

.professional__text {
  width: 694px;
  margin: 29px auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.professional__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.professional__item + .professional__item {
  margin-left: 29px;
}

.professional__link {
  display: inline-block;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  padding: 18px 59px;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.professional-slider {
  width: 1661px;
  margin: 0 auto;
}

.professional-slider__item {
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  max-width: 1561px !important;
  width: 100%;
  margin: 0 auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  padding: 57px 111px;
}

.professional-slider__img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.professional-slider__info {
  max-width: 1000px;
  margin-left: 49px;
}

.professional-slider__name {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.professional-slider__subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 28px;
}

.professional-slider__description {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.professional-slider__item.slick-slide.slick-current.slick-active.slick-center {
  margin: 0 auto !important;
  opacity: 1;
}

.professional-slider__item.slick-slide {
  opacity: 0;
}

.professional-slider .slick-arrow {
  background-color: violet;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -90px;
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
}

.professional-slider .slick-arrow.slick-next {
  right: 0;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: -90px;
}

.example {
  background: #eaeaea;
  padding: 95px 0 150px;
}

.example__title {
  margin-left: 46px;
  margin-bottom: 88px;
}

.example-wrap {
  max-width: 1532px;
  width: 100%;
  margin: 0 auto;
}

.example-wrap__item {
  max-width: 755px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 32px 41px 59px 44px;
  margin: 0 10px;
}

.example-wrap__img {
  width: 354px;
  height: 595px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 32px;
}

.example-wrap__description {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}

.example-wrap__more {
  display: inline-block;
  background: #c4c4c4;
  border-radius: 56px;
  padding: 12px 42px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  margin-top: 55px;
}

.example-wrap .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -112px;
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.example-wrap .slick-arrow.slick-next {
  right: -112px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.efficiently {
  padding: 129px 0 32px;
}

.efficiently__title {
  margin-left: 95px;
  margin-bottom: 48px;
}

.efficiently__item + .efficiently__item {
  margin-top: 48px;
}

.efficiently__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.efficiently__img {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.efficiently__text {
  max-width: 1026px;
  width: 100%;
  margin-left: 56px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

.uniform-wholesale .uniform-banner__title {
  max-width: 941px;
  margin-left: 0;
  margin-bottom: 16px;
}

.uniform-wholesale .uniform-banner__text {
  max-width: 941px;
  width: 100%;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 21px;
}

.uniform-wholesale .uniform-banner__link {
  display: inline-block;
  background: #c4c4c4;
  border-radius: 56px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  padding: 13px 61px 17px 51px;
}

.wholesale-form {
  padding-bottom: 54px;
}

.wholesale-form .form__title {
  margin-left: 0px;
}

.features {
  padding: 112px 0 154px;
}

.features__title {
  margin-bottom: 58px;
}

.features__item + .features__item {
  margin-top: 58px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__img {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__text {
  max-width: 963px;
  width: 100%;
  margin-left: 71px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

.process-whosale__title {
  font-size: 72px;
  line-height: 88px;
}

.work {
  background: #eeeeee;
  padding: 80px 0;
}

.work__text {
  max-width: 793px;
  width: 100%;
  margin: 38px 0px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.work__link {
  display: inline-block;
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  padding: 18px 43px;
}

.whosale-review {
  background: #fff;
}

.whosale-review .professional__title {
  margin-left: 0px;
  margin-bottom: 41px;
}

.whosale-review .professional-slider__item {
  background: #fff;
  -webkit-box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  max-width: 1561px !important;
  width: 100%;
  margin: 0 auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: 57px 111px;
  background: #ffffff;
  box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

.whosale-review .slick-track {
  padding: 20px 0px;
}

.requisites {
  padding: 116px 0 125px;
  background: #eeeeee;
}

.requisites__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.requisites__title {
  margin-bottom: 38px;
}

.requisites__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

.requisites__map {
  border-radius: 71px;
}

.questions {
  padding: 118px 0 75px;
}

.questions__title {
  margin-bottom: 51px;
}

.questions__input {
  display: none;
}

.questions__description {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.questions__input:checked + .questions__label + .questions__description {
  height: auto;
  padding: 10px 0;
}

.questions__accordeon + .questions__accordeon {
  margin-top: 18px;
}

.questions__label {
  padding: 20px 0;
  display: block;
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  background: #eaeaea;
  border-radius: 90px;
  padding: 23px 27px 26px 59px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whosale-info {
  background: #EEEEEE;
  padding: 86px 91px;
}

.footer-top {
  padding: 61px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top__items--last {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-top__item + .footer-top__item {
  margin-top: 15px;
}

.footer-top__link {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.footer-top__tel, .footer-top__email {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.footer-top__tel {
  margin-bottom: 15px;
}

.footer-top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.footer-top__content {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: #c4c4c4;
}

.footer-top__content + .footer-top__content {
  margin-left: 35px;
}

.footer-bottom {
  background: #e5e5e5;
}

.footer-bottom__inner {
  padding: 20px 0 15px;
}

.footer-bottom__list, .footer-bottom__items {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3px;
}

.footer-bottom__items {
  margin-bottom: 0;
}

.footer-bottom__items .footer-bottom__link {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.footer-bottom__item + .footer-bottom__item {
  margin-left: 40px;
}

.footer-bottom__link {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
/*# sourceMappingURL=style.css.map */