@media (max-width: 1440px) {
  //body {
  //  background: darkgreen;
  //}
  .header-menu {
    &__wrapper {
      padding: 25px 0;
    }
    &__list {
      padding: 20px 40px !important;
    }
    &__item + .header-menu__item {
      margin-left: 35px;
    }
    &__link {
      font-size: 31px;
    }
    &__tel {
      font-size: 32px;
    }
  }
  .header-nav {
    &__list {
      padding: 25px 0px !important;
    }
    &__item + .header-nav__item {
      margin-left: 20px;
    }
    &__link {
      font-size: 29px;
    }
  }
  .category {
    padding: 100px 0;
    &__title {
      margin-left: 0;
      margin-bottom: 90px;
    }
    &__item {
      max-width: 460px;
      padding-top: 35px;
    }
  }
  .popular {
    padding: 90px 0px;
    &__item {
      max-width: 430px;
    }
    &__content,
    &__delivery {
      top: 20px;
      right: 0px;
    }
    &__slogan,
    &__sale,
    &__delivery {
      font-size: 25px;

      padding: 6px 20px;
    }
    &__name {
      font-size: 28px;
    }
    &__price {
      font-size: 40px;
    }
    &__add {
      padding: 5px 30px;
      font-size: 30px;
    }
  }
  .designer {
    padding: 50px 0;
    &__wrap {
      padding: 18px 50px;
    }
    &__info {
      margin-left: 60px;
    }
  }
  .example {
    padding: 95px 0px;
    &__title {
      margin-left: 0;
    }
  }
  .example-slider {
    height: 602px !important;
    .slick-arrow {
      background: transparent;
    }
  }
  .advantage {
    &__item {
      max-width: 675px;
      width: 100%;
    }
  }
  .question {
    padding: 85px 0px;
    &__link + .question__link {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .catalog-category {
    &__title {
      margin-bottom: 65px;
      font-size: 60px;
    }
    &__item {
      width: 455px;
    }
    &__info-text {
      font-size: 45px;
      line-height: 60px;
      margin: 15px 0px 20px;
    }
    &__info-title {
      font-size: 75px;
      line-height: 91px;
    }
    &__banner {
      padding: 0 20px;
    }
  }
  .catalog-designer {
    .designer__wrap {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .category-catalog {
    &__btn {
      display: block;
      z-index: 1;
    }
    &__inner {
      display: flex;
      align-items: flex-start;
    }
    .category-filter {
      position: absolute;
      left: 0;
      top: 0;
      //display: none;
      transform: translateX(-100%);
      transition: transform 0.6s ease-in-out;
    }
    .category-filter--active {
      transform: translateX(0%);
    }
  }
  .category-wrap {
    padding-right: 0;
    &__show {
      max-width: 1000px;
      padding: 20px 0;
      font-size: 50px;
      line-height: 65px;
      margin: 20px auto;
    }
  }
  .uniform-banner {
    &__content {
      padding: 25px 0;
    }
    &__title {
      margin-left: 0px;
      font-size: 65px;
      line-height: 85px;
    }
    &__img {
      width: 600px;
    }
  }
  .footer-top {
    &__link {
      font-size: 30px;
    }
    &__wrap {
      display: none;
    }
    &__tel,
    &__email {
      font-size: 30px;
    }
  }

  .footer-bottom {
    &__item + .footer-bottom__item {
      margin-left: 8px;
    }
    &__items .footer-bottom__link {
      font-size: 30px;
      color: darkmagenta;
    }
    &__link {
      font-size: 27px;
    }
  }
}
@media (max-width: 1366px) {
  body {
    background: greenyellow;
  }
  .catalog-category {
    &__item {
      max-width: 435px;
      width: 100%;
      border-radius: 36px;
      overflow: hidden;
    }
    &__item .category__item {
      width: 435px;
      height: 654px;
      padding-top: 30px;
    }
    .category__item-title {
      margin-left: 0px;
    }
  }
}
@media (max-width: 1024px) {
  .header-top {
    padding: 20px 0;
    &__work,
    &__call,
    &__email {
      font-size: 20px;
    }
  }
  .header-menu {
    &__wrapper {
      padding: 20px 0px;
    }
    &__item + .header-menu__item {
      margin-left: 20px;
    }
    &__list {
      padding: 20px 30px !important;
    }
    &__link {
      font-size: 20px;
    }
    &__language {
      font-size: 20px;
      margin-bottom: 0px;
    }
  }
  .header-nav {
    &__list {
      padding: 20px 0px !important;
    }
    &__item + .header-nav__item {
      margin-left: 19px;
    }
    &__link {
      font-size: 19px;
    }
    &__images {
      margin-right: 10px;
    }
    &__link--design,
    &__link--cart {
      //background: #e74f4f;
      padding: 10px 15px;
    }
  }

  .slider-banner {
    &__inner {
      padding: 65px 0;
    }
    &__title {
      font-size: 120px;
    }
    &__subtitle {
      font-size: 45px;
      line-height: 70px;
      margin-bottom: 30px;
    }
  }
  .category {
    padding: 70px 0;
    &__title {
      font-size: 60px;
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 40px;
      margin-bottom: 5px;
      margin-left: 50px;
    }
    &__name {
      margin-left: 50px;
    }
    &__banner {
      padding: 50px 15px;
      align-items: center;
    }
    &__content-title {
      font-size: 40px;
    }
    &__list-item {
      font-size: 25px;
    }
    &__more {
      padding: 14px 40px;
      font-size: 28px;
      margin-top: 20px;
    }
  }
  .popular {
    padding: 65px 0;
    &__wrap {
      flex-wrap: wrap;
    }
    &__title {
      margin-left: 0;
      margin-bottom: 25px;
    }
  }
  .designer {
    &__wrap {
      padding: 18px 40px;
    }
    &__info {
      margin-left: 40px;
    }
    img {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
    &__title,
    &__subtitle {
      font-size: 36px;
      line-height: 50px;
    }
    &__link {
      font-size: 23px;
      padding: 5px 25px;
    }
  }
  .example {
    padding: 75px 0px;
    &__title {
      margin-bottom: 65px;
      font-size: 60px;
      line-height: 75px;
    }
  }
  .advantage {
    .title {
      font-size: 68px;
    }
    &__item {
      max-width: 470px;
    }
  }
  .catalog-category {
    padding: 65px 0;
    &__images {
      width: 400px;
      height: 395px;
    }
    &__info-title {
      font-size: 60px;
      line-height: 75px;
    }
    &__info-text {
      font-size: 35px;
      line-height: 50px;
    }
    &__item {
      max-width: 470px;
      border-radius: 36px;
      overflow: hidden;
      .category__item {
        width: 470px;
        overflow: hidden;
      }
    }
  }
  .category-filter {
    background: #f4f4f4;
    width: 447px;
    padding: 45px 50px;
  }
  .category-wrap {
    &__inner {
      margin-left: 15px;
      row-gap: 45px;
      column-gap: 20px;
    }
    &__item {
      max-width: 415px;
      width: 100%;
      height: 642px;
      margin-left: 0;
    }
  }
  .uniform-banner {
    &__title {
      font-size: 55px;
      line-height: 70px;
    }
    &__img {
      width: 490px;
    }
  }
  .efficiently {
    padding: 100px 0px;
    &__title {
      margin-left: 0;
      margin-bottom: 45px;
      font-size: 65px;
    }
  }
  .footer-top {
    padding: 50px 0;
    &__items {
      width: 50%;
    }
    &__link {
      font-size: 25px;
    }
    &__tel,
    &__email {
      font-size: 25px;
      text-align: end;
    }
  }
  .footer-bottom {
    &__link {
      font-size: 23px;
    }
    &__items .footer-bottom__link {
      font-size: 23px;
    }
  }
}
@media (max-width: 768px) {
  .header-menu {
    &__item + .header-menu__item {
      margin-left: 10px;
    }
    &__contacts {
      display: none;
    }
    &__language {
      font-size: 17px;
    }
  }
  .header-nav {
    &__list {
      flex-wrap: wrap;
      row-gap: 15px;
    }
    &__item:last-child {
      margin-right: auto;
    }
  }

  .slider-banner {
    &__inner {
      padding: 55px 0;
    }
    &__title {
      font-size: 100px;
      line-height: 130px;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    &__link {
      font-size: 25px;
      padding: 0px 35px;
    }
  }
  .category {
    padding: 45px 0;
    &__item {
      max-width: 350px;
      padding-top: 20px;
    }
    &__item-title {
      font-size: 32px;
      margin-left: 20px;
    }
    &__name {
      margin-left: 20px;
      font-size: 18px;
    }
    &__banner {
      padding: 40px 10px;
      flex-direction: column;
    }
    &__banner-img {
      width: 400px;
      height: 400px;
    }
  }
  .popular {
    padding: 50px 0;
    &__title {
      margin-bottom: 10px;
      font-size: 50px;
    }
    &__item {
      max-width: 350px;
    }
    &__name {
      font-size: 22px;
    }
    &__price {
      font-size: 33px;
    }
    &__add {
      padding: 0px 30px;
      font-size: 20px;
    }
  }
  .designer {
    &__wrap {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
    &__info {
      margin-left: 0;
    }
  }
  .example {
    padding: 50px 0;
    &__title {
      margin-bottom: 50px;
      font-size: 45px;
    }
  }
  .example-slider {
    &__item {
      height: 525px;
      overflow: hidden;
    }
    &__item.slick-slide {
      width: 400px !important;
      margin: 0 !important;
    }
  }
  .example-slider {
    height: 528px !important;
  }
  .advantage {
    &__item {
      max-width: 100%;
    }
    .title {
      font-size: 60px;
    }
  }
  .catalog-category {
    padding: 50px 0;
    &__title {
      margin-bottom: 45px;
      font-size: 50px;
    }
    &__item {
      max-width: 360px;
      height: 500px;
      .category__item {
        width: 360px;
        height: 500px;
      }
    }
    &__info-title {
      font-size: 45px;
      line-height: 50px;
    }
    &__info-text {
      font-size: 25px;
      line-height: 40px;
    }
    &__banner {
      padding: 20px;
    }
    &__images {
      display: none;
    }
  }
  .catalog-designer {
    .designer__wrap {
      flex-direction: column-reverse;
    }
  }
  .category-wrap {
    margin-left: 0;
    &__item {
      height: auto;
      max-width: 325px;
    }
  }
  .category-wrap {
    &__content {
      padding: 25px 10px;
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
    &__size,
    &__price {
      font-size: 25px;
    }
    &__size-number {
      font-size: 28px;
      line-height: 35px;
    }
    &__price-num {
      font-size: 25px;
      line-height: 40px;
    }
    &__order {
      margin-top: 15px;
      padding: 5px 0px;
      font-size: 25px;
      line-height: 35px;
    }
    &__show {
      max-width: fit-content;
      padding: 10px 35px;
      font-size: 35px;
      line-height: 40px;
    }
  }
  .category-designer {
    .designer__info {
      margin-left: 0px;
    }
    .designer__title {
      font-size: 36px;
      line-height: 50px;
    }
    .designer__subtitle {
      font-size: 33px;
      line-height: 45px;
    }
  }
  .uniform-banner {
    &__content {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  .efficiently {
    &__title {
      font-size: 55px;
    }
    &__img {
      width: 150px;
      height: 150px;
    }
    &__text {
      max-width: 100%;
      width: 100%;
      font-size: 30px;
      line-height: 40px;
    }
  }
  .footer-top {
    padding: 40px 0;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .footer-bottom {
    &__list {
      flex-wrap: wrap;
      row-gap: 15px;
    }
    &__items {
      flex-wrap: wrap;
      row-gap: 15px;
    }
  }
}
@media (max-width: 425px) {
  .header-top {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .header-menu {
    &__list {
      flex-wrap: wrap;
    }
    &__item + .header-menu__item {
      margin-left: 25px;
    }
  }
  .slider-banner {
    &__inner {
      flex-direction: column;
      row-gap: 15px;
    }
  }
  .category {
    &__title {
      font-size: 42px;
      margin-bottom: 15px;
    }
    &__item {
      max-width: 100%;
    }
    &__content-title {
      font-size: 24px;
    }
    &__content-text {
      font-size: 20px;
      margin: 14px 0;
    }
    &__list-item {
      font-size: 19px;
      padding-left: 25px;
      &::before {
        width: 10px;
        height: 10px;
      }
    }
    &__list-item + .category__list-item {
      margin-top: 10px;
    }
    &__more {
      padding: 0px 20px;
      font-size: 18px;
      margin-top: 10px;
    }
  }
  .popular {
    padding: 30px 0;
    &__title {
      font-size: 34px;
    }
  }
  .designer {
    &__wrap {
      padding: 15px 20px;
    }
    &__title,
    &__subtitle {
      font-size: 28px;
    }
    &__item {
      font-size: 19px;
    }
  }
  .example {
    padding: 40px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 30px;
    }
  }
  .example-slider {
    &__item.slick-slide {
      width: 378px !important;
      margin: 0 !important;
    }
  }
  .advantage {
    padding: 50px 0;
    &__item {
      padding: 20px 30px;
    }
    .title {
      font-size: 40px;
      line-height: 40px;
    }
    &__item-title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 22px;
    }
    &__item-text {
      font-size: 21px;
      line-height: 32px;
    }
  }
  .question {
    padding: 65px 0px;
    .title {
      font-size: 55px;
      line-height: 70px;
    }
    &__text {
      font-size: 30px;
      line-height: 35px;
    }
    &__link {
      padding: 0px 59px;
      font-size: 31px;
    }
  }
  .catalog-category {
    padding: 30px 0;
    &__title {
      margin-bottom: 30px;
      font-size: 31px;
      line-height: 60px;
    }
    &__link + .catalog-category__link {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
  .category-wrap {
    &__item {
      height: auto;
      max-width: 352px;
    }
    &__content {
      padding: 0px;
    }
  }
  .designer {
    &__link {
      font-size: 20px;
    }
  }
  .category-designer {
    .designer__title {
      font-size: 28px;
      line-height: 40px;
    }
    .designer__subtitle {
      font-size: 27px;
      line-height: 42px;
    }
    .designer__item {
      font-size: 17px;
      line-height: 35px;
    }
  }
  .category-filter {
    width: fit-content;
    padding: 15px 35px;
    &__title {
      font-size: 30px;
      line-height: 35px;
    }
    &__label {
      font-size: 24px;
      line-height: 35px;
    }
    &__checkbox {
      width: 22px;
      height: 22px;
    }
  }
  .uniform-banner {
    &__title {
      font-size: 40px;
      line-height: 50px;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
    &__img {
      width: 100%;
    }
  }
  .footer-top {
    padding: 25px 0;
    &__item + .footer-top__item {
      margin-top: 5px;
    }
    &__link {
      font-size: 20px;
    }
    &__tel,
    &__email {
      font-size: 20px;
      text-align: end;
    }
  }
}

@media (max-width: 375px) {
  .slider-banner {
    &__inner {
      padding: 15px 0;
      row-gap: 30px;
      margin-left: -15px;
      margin-right: -15px;
    }
    &__title {
      font-size: 90px;
    }
  }
  .category {
    padding: 20px 0;
    &__title {
      font-size: 38px;
    }
    &__banner {
      padding: 20px 10px;
    }
  }
  .popular {
    padding: 30px 0;
    &__title {
      font-size: 26px;
      line-height: 45px;
    }
    &__price {
      font-size: 24px;
    }
  }
  .designer {
    padding: 35px 0;
    &__title,
    &__subtitle {
      font-size: 23px;
      line-height: 35px;
    }
    &__item {
      font-size: 16px;
      line-height: 34px;
    }
    &__link {
      font-size: 19px;
    }
  }
  .example {
    padding: 30px 0;
    &__title {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 40px;
    }
  }
  .example-slider {
    &__item.slick-slide {
      width: 328px !important;
      margin: 0 !important;
    }
    .slick-slide img {
      height: 525px;
    }
  }
  .advantage {
    .title {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 25px;
      line-height: 20px;
    }
    &__item-text {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .question {
    padding: 45px 0px;
    &__link {
      padding: 0px 43px;
      font-size: 24px;
    }
  }
  .catalog-category {
    &__title {
      line-height: 50px;
    }
    &__item {
      height: 450px;
    }
    &__item .category__item {
      height: 450px;
    }
    &__info {
      text-align: center;
    }
    &__link {
      padding: 10px 25px;
    }
  }
  .designer {
    img {
      width: 278px;
      height: 300px;
    }
  }
  .category-catalog {
    &__btn {
      width: 25px !important;
      height: 25px;
      img {
        height: 25px;
        width: 25px !important;
      }
    }
  }
  .category-wrap {
    &__inner {
      margin-left: 0;
      row-gap: 15px;
    }
    &__item {
      max-width: 300px;
    }
    &__show {
      padding: 5px 25px;
      font-size: 25px;
      line-height: 35px;
    }
  }
  .category-pagination {
    &__link {
      font-size: 25px;
      line-height: 40px;
    }
    &__item + .category-pagination__item {
      margin-left: 25px;
    }
  }
  .category-designer {
    margin-top: 30px;
    .designer__title {
      font-size: 25px;
      line-height: 35px;
    }
    .designer__subtitle {
      font-size: 24px;
      line-height: 40px;
    }
    .designer__item {
      font-size: 15px;
      line-height: 32px;
    }
    &__img {
      width: 275px;
      height: 300px;
    }
    .designer__link {
      font-size: 18px;
    }
  }
  .uniform-banner {
    &__title {
      font-size: 36px;
      line-height: 45px;
    }
  }
  .footer-top {
    flex-direction: column;
    &__list {
      text-align: center;
    }
    &__items {
      width: 100%;
    }
  }
  .footer-bottom {
    &__items {
      flex-direction: column;
    }
  }
}

@media (max-width: 320px) {
  .header-nav {
    &__item + .header-nav__item {
      margin-left: 0;
    }
  }
  .slider-banner {
    &__subtitle {
      font-size: 25px;
    }
    &__link {
      padding: 0px 20px;
    }
  }
  .category {
    padding: 20px 0;
    &__title {
      font-size: 29px;
    }
    &__content-title {
      font-size: 17px;
      line-height: 38px;
    }
    &__content-text {
      font-size: 16px;
    }
    &__banner-img {
      width: 250px;
      height: 250px;
    }
    &__list-item {
      font-size: 15px;
      padding-left: 20px;
    }
  }
  .popular {
    &__name {
      font-size: 20px;
    }
    &__content,
    &__delivery {
      top: 20px;
      right: 15px;
    }
    &__slogan,
    &__sale,
    &__delivery {
      font-size: 15px;
      padding: 0px 15px;
    }
  }
  .popular {
    &__title {
      font-size: 25px;
    }
    &__name {
      font-size: 16px;
    }
    &__item {
      height: 655px;
    }
    &__content {
      top: 0;
      right: 0;
      height: 500px;
      padding-top: 70px;
    }
    &__info {
      padding-top: 0px;
    }
    &__add {
      font-size: 14px;
      line-height: 36px;
    }
  }
  .designer {
    &__title,
    &__subtitle {
      font-size: 19px;
      line-height: 35px;
    }
    &__link {
      font-size: 14px;
    }
  }
  .example-slider {
    &__item.slick-slide {
      width: 273px !important;
      border-radius: 36px;
      border: 1px solid #000;
    }
  }
  .advantage {
    .title {
      font-size: 28px;
    }
    &__item {
      padding: 15px 25px;
    }
    &__item-title {
      font-size: 23px;
    }
    &__item-text {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .question {
    padding: 45px 0px;
    .title {
      font-size: 40px;
      line-height: 50px;
    }
    &__text {
      font-size: 27px;
    }
    &__link {
      padding: 0px 43px;
      font-size: 24px;
    }
  }
  .catalog-designer {
    .designer__wrap {
      padding: 10px 15px;
    }
  }
  .designer {
    &__item {
      font-size: 16px;
      line-height: 25px;
    }
  }
  .category-filter {
    &__label {
      font-size: 20px;
      line-height: 32px;
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
  }
  .category-wrap {
    &__item {
      max-width: 262px;
      overflow: hidden;
    }
    &__img {
      width: 262px;
    }
  }
  .designer {
    &__wrap {
      padding: 15px 17px;
    }
  }
  .category-designer {
    .designer__title {
      font-size: 22px;
      line-height: 35px;
    }
    &__img {
      width: 228px;
      height: 300px;
    }
    .designer__link {
      font-size: 14px;
    }
  }
  .uniform-banner {
    &__title {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .footer-top {
    &__list {
      margin: 0;
    }
  }
  .footer-bottom {
    &__item + .footer-bottom__item {
      margin-left: 0;
    }
  }
}
