@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "vars";
@import "reset";
@import "global";

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0 24px;
  &__work,
  &__call,
  &__email {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  &__tel,
  &__mail {
    font-weight: 500;
  }
  &__tel {
    margin-right: 23px;
  }
}
.header-menu {
  background: #eaeaea;
  &__wrapper {
    padding: 28px 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    background: #fff;
    border: 2px solid #000;
    border-radius: 61px;
    display: flex;
    padding: 20px 41px 26px 42px !important;
  }
  &__item + .header-menu__item {
    margin-left: 57px;
  }
  &__link {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__language {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 3px;
  }
  &__tel {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
}
.header-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0 53px !important;
  }
  &__item + .header-nav__item {
    margin-left: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }
  &__link--design,
  &__link--cart {
    background: #d8d8d8;
    border: 2px solid #b4b4b4;
    border-radius: 61px;
    padding: 13px 18px;
  }
  &__images {
    display: flex;
    align-items: center;
    margin-right: 31px;
    position: relative;
    .header-nav__num {
      position: absolute;
      right: -10px;
      bottom: 3px;
    }
  }
  &__num {
    width: 24px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider-banner {
  background: #eaeaea;
  &__inner {
    padding: 63px 142px 96px 41px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 500;
    font-size: 144px;
    line-height: 176px;
    color: #000;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #000;
    margin-bottom: 37px;
  }
  &__link {
    display: inline-block;
    background: #c4c4c4;
    border-radius: 91px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding: 10px 38px 14px;
  }
  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-top: 24px;
  }
}
.category {
  padding: 126px 0;
  &__title {
    margin-left: 51px;
    margin-bottom: 114px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 37px;
  }
  &__item {
    max-width: 544px;
    width: 100%;
    background: #ffff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding-top: 54px;
  }
  &__images {
    margin: 0 auto;
  }
  &__item-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000;
    margin-bottom: 6px;
    margin-left: 54px;
  }
  &__name {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-left: 57px;
  }
  &__banner {
    max-width: 1692px;
    width: 100%;
    background: #fefefe;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    margin: 38px auto 0px;
    padding: 69px 56px 22px 131px;
    display: flex;
    justify-content: space-between;
  }
  &__content-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000;
  }
  &__content-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 14px 0 34px;
  }
  &__list-item + .category__list-item {
    margin-top: 14px;
  }
  &__list-item {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    padding-left: 36px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 13px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #373737;
    }
  }
  &__more {
    background: #f2f2f2;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
    padding: 14px 43px 21px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    display: inline-block;
    margin-top: 46px;
  }
}
.popular {
  padding: 90px 0 149px;
  background: #eaeaea;
  &__title {
    margin-left: 79px;
    margin-bottom: 80px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 544px;
    width: 100%;
    height: 754px;
  }
  &__content {
    width: 100%;
    height: 613px;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 91px;
    padding-bottom: 30px;
    .popular__slogan {
      position: absolute;
      top: 33px;
      right: 30px;
    }
    .popular__sale {
      position: absolute;
      right: 30px;
      top: 100px;
    }
    .popular__delivery {
      position: absolute;
      top: 43px;
      right: 23px;
    }
  }
  &__images {
    margin: auto;
  }
  &__slogan,
  &__sale,
  &__delivery {
    background: #eaeaea;
    border-radius: 53px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    padding: 6px 22px;
  }
  &__info {
    padding-top: 24px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__name {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
  }
  &__price {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000;
  }
  &__add {
    display: inline-block;
    margin-top: auto;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 5px 32px 8px 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
  }
}
.designer {
  padding: 92px 0 57px;
  &__wrap {
    max-width: 1692px;
    width: 100%;
    margin: 0 auto;
    background: #fefefe;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 50px 81px;
  }
  &__info {
    margin-left: 86px;
    margin-right: auto;
  }
  &__title,
  &__subtitle {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000;
  }
  &__list {
    margin: 15px 0 24px 0;
    padding: 0;
  }
  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #000;
  }
  &__link {
    display: inline-block;
    background: #f2f2f2;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    padding: 16px 42px;
  }
}
.example {
  padding: 57px 0 74px;
  //.container {
  //  background-color: green;
  //}
  &__title {
    margin-bottom: 89px;
  }
}
.example-slider {
  &__item.slick-slide {
    width: 499px !important;
    margin: 0 20px;
  }
  .slick-list {
    //width: 1579px;
    margin: 0 auto;
  }
  &__item.slick-slide.slick-center {
    margin: 0 auto;
  }
  &__item.slick-slide.slick-current {
    margin-left: 0px;
  }
  &__item {
    width: 499px;
    height: 602px;
  }
  &__img {
    width: 499px;
    height: 602px;
    object-fit: cover;
    border-radius: 36px;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    z-index: 1;
    border: none;
  }
  .slick-arrow.slick-next {
    right: 0;
    margin-left: auto;
    width: fit-content;
    right: -15px;
  }
}
.advantage {
  padding: 74px 0 102px;
  &__title {
    margin-bottom: 61px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
  }
  &__item {
    width: 540px;
    background: #ffffff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 31px 37px 59px 40px;
    transition: all 0.6s;
    &:hover {
      box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.55);
      transform: scale(1.03);
    }
  }
  &__item-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    margin-bottom: 31px;
  }
  &__item-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000;
  }
}
.question {
  background: #eaeaea;
  padding: 86px 0 91px;
  text-align: center;
  &__text {
    max-width: 694px;
    width: 100%;
    margin: 29px auto;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }
  &__link + .question__link {
    margin-left: 29px;
  }
  &__link {
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    padding: 18px 59px;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    display: inline-block;
  }
}
.catalog-category {
  padding: 72px 0 64px;
  &__title {
    margin-bottom: 72px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  &__item {
    height: 654px;
    width: 544px;
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    .category__item {
      display: flex;
      flex-direction: column;
      width: 544px;
      height: 654px;
      padding-top: 44px;
    }
    .category__item-title {
      text-align: center;
    }
    .category__images {
      margin-top: auto;
    }
    .category__name {
      text-align: center;
    }
  }
  &__banner {
    max-width: 1683px;
    width: 100%;
    margin: 32px auto 0;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 0 49px 51px 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 98px;
    color: #000;
  }
  &__info-text {
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #000;
    margin: 12px 0 32px;
  }
  &__link + .catalog-category__link {
    margin-left: 37px;
  }
  &__link {
    display: inline-block;
    background: #f2f2f2;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
    padding: 16px 35px;
  }
  &__images {
    width: 642px;
    height: 603px;
    object-fit: cover;
  }
}
.catalog-designer {
  .designer__wrap {
    flex-direction: row-reverse;
    padding-left: 85px;
    padding-right: 85px;
  }
}
.category-catalog {
  //background-color: rgb(211, 174, 174);
  position: relative;
  padding-bottom: 158px;
  .category-filter {
    position: absolute;
    left: 0;
    top: 0;
  }
  //&__inner {
  //  background-color: #d4d7b8;
  //}
}
.category-filter {
  background: #f4f4f4;
  width: 447px;
  padding: 49px 80px 79px 77px;
  &__item + .category-filter__item {
    margin-top: 39px;
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    margin-bottom: 10px;
  }
  &__label + .category-filter__label {
    margin-top: 5px;
  }
  &__label {
    // Тут мы просто центрируем чекбокс и текст
    display: flex;
    align-items: center;
    //background-color: darkorchid;
    width: fit-content;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #000;
  }
  &__label .category-filter__checkbox {
    margin-right: 15px;
  }
  &__label .category-filter__input {
    -webkit-appearance: none; // Скрываем оригинальный чекбокс
    position: absolute; // После скрытия оставется пустое пространство,
    // но абсолютное позиционирование это устранит
  }
  &__checkbox {
    // Тут стилизуем сам чекбокс
    position: relative;
    width: 26px;
    height: 26px;
    background: #f4f4f4;
    border: 1px solid #000;
  }

  &__checkmark {
    // Тут центритуем и пишем стили для иконки
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none; // Скрываем иконку
  }

  &__label input:checked ~ .category-filter__checkbox .category-filter__checkmark {
    display: block; // Показываем иконку, когда чекбокс активен
  }

  &__label input:checked ~ .category-filter__checkbox {
    background: blue;
    border: 1px solid blue;
    // Если вы хотите не только отображать икнонку, но и менять
    // сам чекбокс после активации - нcategory-wrapапишите сюда код для активного состояния
  }
  &__more {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-top: 3px;
  }
}
.category-wrap {
  max-width: 1349px;
  width: 100%;
  margin-left: auto;
  padding-right: 94px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    row-gap: 64px;
    column-gap: 59px;
  }
  &__item {
    max-width: 379px;
    width: 100%;
    height: 642px;
    margin-left: auto;
  }
  &__content {
    width: 100%;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 43px 42px 52px;
  }
  &__img {
    width: 294px;
    height: 312px;
    object-fit: cover;
  }
  &__info {
    padding-top: 19px;
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000;
  }
  &__size,
  &__price {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000;
  }
  &__size-number {
    font-size: 36px;
    line-height: 44px;
  }
  &__price-num {
    font-size: 48px;
    line-height: 59px;
  }
  &__order {
    display: block;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    margin-top: 19px;
    padding: 4px 0 9px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }
  &__show {
    display: block;
    max-width: 1255px;
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 98px;
    padding: 29px 0;
    font-size: 64px;
    line-height: 78px;
    margin-left: auto;
    margin-top: 51px;
  }
}
.category-pagination {
  display: flex;
  align-items: center;
  margin-top: 26px;
  justify-content: center;
  &__list {
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
  &__prev,
  &__next {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
  }
  &__item + .category-pagination__item {
    margin-left: 40px;
  }
  &__link {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
  }
}
.category-designer {
  width: 100%;
  padding: 46px 89px 47px 52px;
  margin-top: 63px;
  &__img {
    width: 334px;
    height: 354px;
    object-fit: cover;
  }
  .designer__info {
    margin-left: 60px;
  }
  .designer__title {
    font-size: 44px;
    line-height: 54px;
  }
}
.tovar {
  padding: 42px 0 94px;
}
.tovar-wrap {
  display: flex;
  justify-content: space-between;
}
.tovar-slider {
  width: 922px;
  height: 721px;
  display: flex;
  justify-content: space-between;
}
.tovar-preview {
  width: 166px;
  height: 72px;
  //background-color: violet;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  height: 721px;
  &__item {
    width: 166px;
    height: 166px;
  }
  &__item-img {
    width: 166px;
    height: 166px;
    object-fit: cover;
  }
  &__item.slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    border: none;
    margin-bottom: 20px;
  }
}
.tovar-thumb {
  margin-left: 35px;
  width: 721px;
  height: 721px;
  &__item {
    width: 721px;
    height: 721px;
  }
  &__item-img {
    width: 721px;
    height: 721px;
    object-fit: cover;
  }
}
.tovar-info {
  max-height: 779px;
  width: 100%;
  margin-left: 38px;
  &__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-bottom: 9px;
  }
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000;
    margin-bottom: 9px;
  }
  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
  &__new-price {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000;
  }
  &__old-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-left: 34px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 1px;
      background-color: #000;
      top: 14px;
      left: 0;
    }
  }
  &__size,
  &__color {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-bottom: 16px;
  }
  &__form {
    max-width: 612px;
    width: 100%;
    //background: aqua;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 19px;
    margin-bottom: 24px;
  }
  &__span {
    outline: none;
    transition: 0.2s;
    position: relative;

    background: #fff;
    border: 1px solid #000;
    width: 140px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  &__checkbox-container + .tovar-info__checkbox-container {
    margin-left: 13px;
  }
  &__label .tovar-info__checkbox:checked + .tovar-info__span {
    background: #000;
    color: #fff;
  }
  &__checkbox-toggle {
    border: 1px solid black;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: firebrick;
    border: none;
  }
  &__checkbox-toggle--blue {
    background: darkgreen;
  }
  &__checkbox-toggle--darkmagenta {
    background: darkmagenta;
  }
  &__checkbox-toggle--hotpink {
    background: hotpink;
  }
  &__checkbox-toggle--grey {
    background: grey;
  }
  &__checkbox-toggle--seagreen {
    background: seagreen;
  }
  &__checkbox-toggle--tomato {
    background: tomato;
  }
  &__checkbox-toggle--violet {
    background: violet;
  }
  &__checkbox-toggle--lime {
    background: lime;
  }
  &__checkbox-container .tovar-info__checkbox-toggle:before {
    transition: 0.5s ease;
    content: "";
    position: relative;
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0.5);
    background: red;
    opacity: 0;
  }

  &__checkbox-container .tovar-info__checkbox-color:checked + .tovar-info__checkbox-toggle:before {
    //background: red;
    //background: rgb(189, 233, 28);
    display: block;
  }
  &__checkbox-container .tovar-info__checkbox-color:checked + .tovar-info__checkbox-toggle {
    border: 3px solid rgb(0, 0, 0);
  }
  &__structure {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  &__cotton {
    margin-left: 15px;
  }
  &__cart {
    display: inline-block;
    padding: 17px 92px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    margin-top: 33px;
  }
}
.tovar-description {
  max-width: 922px;
  width: 100%;
  margin-right: auto;
  padding-left: 201px;
  margin-top: 41px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }
  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }
}
.expert {
  padding: 62px 0 102px;
  &__title {
    max-width: 1030px;
    width: 100%;
    margin-bottom: 84px;
  }
}
.expert-slider {
  display: flex !important;
  justify-content: center !important;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  .slick-prev.slick-arrow {
    left: -130px;
  }
  .slick-next.slick-arrow {
    right: 0;
    right: -90px;
  }
  &__item {
    max-width: 1800px !important;
    width: 100%;
    margin: 0 auto !important;
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 56px 110px 57px;
    display: flex !important;
    align-items: center !important;
  }
  &__userpik {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    display: contents;
    img {
      width: 290px;
      height: 290px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__info {
    margin-left: 49px;
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
  }
  &__description {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }
}
.uniform-banner {
  background: #eaeaea;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
  }
  &__title {
    max-width: 848px;
    width: 100%;
    margin-left: 60px;
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
  }
}
.production {
  background: #eaeaea;
  &__wrap {
    padding: 92px 0 112px 49px;
  }
  &__title {
    max-width: 1127px;
    width: 100%;
    margin-bottom: 59px;
  }
  &__item + .production__item {
    margin-top: 22px;
  }
  &__item {
    font-weight: 300;
    font-size: 45px;
    line-height: 55px;
    padding-left: 66px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 11px;
      width: 31px;
      height: 31px;
      background: #c4c4c4;
      border-radius: 50%;
    }
  }
}
.form {
  padding: 142px 0 102px;
  &__title {
    margin-left: 42px;
    margin-bottom: 107px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 42px;
    row-gap: 101px;
  }
  &__item {
    max-width: 544px;
    width: 100%;
  }
  &__item:nth-child(4) {
    margin-left: auto;
    margin-right: 0;
  }
  &__item:nth-child(5) {
    margin-right: auto;
    margin-left: 0;
  }
  &__img {
    width: 544px;
    height: 681px;
    object-fit: cover;
    filter: drop-shadow(2px 4px 27px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
  }
  &__info {
    padding-top: 38px;
  }
  &__info-title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000;
  }
}
.dev-form {
  padding: 92px 0 132px;
  &__title {
    margin-left: 49px;
    margin-bottom: 78px;
  }
  &__banner + .dev-form__banner {
    margin-top: 35px;
  }
  &__banner {
    background: #fff;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 85px 93px 85px 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dev-form__title {
      margin-left: 0px;
    }
  }
  &__banner--clothe {
    flex-direction: row-reverse;
    .dev-form__link {
      margin-bottom: 22px;
    }
  }
  &__title {
    width: 744px;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: #000;
    margin-bottom: 37px;
  }
  &__description {
    width: 920px;
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
    color: #000;
  }
  &__description + .dev-form__description {
    margin-top: 44px;
  }
  &__link {
    display: inline-block;
    background: #c4c4c4;
    border-radius: 56px;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: #000;
    padding: 15px 56px;
    margin-top: 37px;
  }
  &__open {
    display: inline-block;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #000;
    margin-top: 38px;
  }
}
.process {
  padding: 127px 0 82px;
  &__title {
    margin-left: 46px;
    margin-bottom: 82px;
  }
  &__item + .process__item {
    margin-top: 44px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    max-width: 1649px;
    width: 100%;
    margin: 0 auto;
  }
  &__images{
    img{
      width: 287px !important;
      height: 287px;
      background: #C4C4C4;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__info {
    width: 1321px;
    margin-left: 41px;
    .process__title{
      margin-left: 0;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #000;
  }
  &__num{
    margin-right: 18px;
  }
  &__text {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000;
    margin-top: 14px;
  }
}
.footer-top {
  padding: 61px 0 50px;
  display: flex;
  justify-content: space-between;
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__items--last {
    align-items: flex-end;
  }
  &__item + .footer-top__item {
    margin-top: 15px;
  }
  &__link {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }
  &__tel,
  &__email {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
  &__tel {
    margin-bottom: 15px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
  &__content {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #c4c4c4;
  }
  &__content + .footer-top__content {
    margin-left: 35px;
  }
}
.footer-bottom {
  background: #e5e5e5;
  &__inner {
    padding: 20px 0 15px;
  }
  &__list,
  &__items {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
  }
  &__items {
    margin-bottom: 0;
    .footer-bottom__link {
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
    }
  }
  &__item + .footer-bottom__item {
    margin-left: 40px;
  }
  &__link {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
}
@import "media";
